<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.0.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.0" targetFramework="net48" />
  <package id="EPPlus" version="7.0.2" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Access.Dao" version="15.0.4420.1018" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.OleDb" version="8.0.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.5" targetFramework="net48" />
</packages>